<script setup>
import '~/assets/css/fonts.css'
import { SpeedInsights } from "@vercel/speed-insights/nuxt"

</script>

<template>
  <SpeedInsights />
  <NuxtLayout>
    <NuxtPage />
  </NuxtLayout>
</template>