<script setup>
const { message } = defineProps({
    message: {
        type: Object,
        default: undefined,
        required: false
    }
})
</script>

<template>
    <UCard :class="message && message.role === 'user' ? 'self-end ml-16' : 'self-start mr-16'" :ui="{
        'body': { 'padding': 'sm:p-2 p-1' }, 'background': message && message.role === 'user'
            ? 'bg-teal-300 dark:bg-teal-700' : 'bg-teal-100 dark:bg-teal-900'
    }">
        <p v-if="message" class="not-prose p-0 mt-0 mb-0 text-sm lg:text-md">
            <span>{{ message.content }}</span>
        </p>
        <slot />
    </UCard>
</template>