
<script setup lang="ts">
import { useChat } from 'ai/vue';

const { messages, input, handleSubmit, isLoading } = useChat();

const introMessage = {
  id: 0,
  role: 'bot',
  content: "Hi there, I am James' digital hologram, what can I help you with ?"
}
</script>
 
<template>
  <div class="flex flex-col w-full max-w-md py-24 mx-auto stretch">
    <TransitionGroup name="list" tag="div" class=" flex flex-col gap-2">
      <ChatMessageComponent :message="introMessage" :key="introMessage.id" />
      <ChatMessageComponent v-for="message in messages" :message="message" :key="message.id" />
    </TransitionGroup>

    <form @submit="handleSubmit">
      <UInput color="teal" variant="outline" size="xl" :disabled="isLoading" :ui="{ icon: { trailing: { pointer: '' } } }"
        class="fixed bottom-0 w-full max-w-md mb-8 text-sm rounded shadow-xl text-white" v-model="input"
        placeholder="Type here...">
        <template #trailing>
          <UButton v-if="!isLoading" type="submit" :disabled="isLoading" class="-mr-2">
            <span>
              Send
              <UIcon name="i-heroicons-paper-airplane-20-solid" />
            </span>
          </UButton>
          <SpinnerComponent v-else class="w-2 h-2" />
        </template>
      </UInput>
    </form>
  </div>
</template>

<style scoped>
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(50px);
}
</style>