<script setup>
const email = ref('');
const message = ref('');

const isOpen = ref(false)
</script>

<template>
    <form @submit.prevent.stop="isOpen = true">
        <UInput size="xl" color="primary" type="email" placeholder="Email address" class="w-96" v-model="email"
            :ui="{ icon: { trailing: { pointer: '' } } }">
            <template #trailing>
                <UButton @click="isOpen = true" class="-mr-2">
                    <span>
                        Get in touch
                        <UIcon name="i-heroicons-envelope-20-solid" />
                    </span>
                </UButton>
            </template>
        </UInput>
    </form>
    <Teleport to="body">
        <UModal v-model="isOpen" class="relative">
            <form action="https://formspree.io/f/xzbnzago" method="POST" class="m-4 gap-2 flex flex-col items-stretch">
                <UInput size="xl" color="primary" type="email" name="email" placeholder="Email address" v-model="email" />
                <UTextarea size="xl" color="primary" name="message" placeholder="Message" class="w-full"
                    v-model="message" />
                <UButton @click="isOpen = false" type="submit" class="self-end">Submit
                    <UIcon name="i-heroicons-paper-airplane-20-solid" />
                </UButton>
            </form>
        </UModal>
    </Teleport>
</template>