<template>
    <UContainer class="flex flex-col h-full items-center lg:items-end justify-center">
        <h1
            class="font-title not-prose text-primary brightness-75 text-8xl max-lg:text-5xl text-right max-lg:text-center w-full text-wrap max-lg:text-nowrap mt-8">
            James&nbsp;D. Martin
        </h1>
        <h2
            class="font-subtitle text-gray-500 not-prose text-right max-lg:text-center w-full text-3xl max-lg:text-2xl mb-8">
            Intelligence for <span class="font-title text-white">Your</span> tech
        </h2>
        <ContactFormComponent />
    </UContainer>
</template>