<template>
  <span class="loader text-xs text-primary"></span>
</template>

<style>
.loader {
  width: 1em;
  height: 1em;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  animation: fill 0.9s ease-in infinite alternate;
  margin-left: 1.316em;
  margin-right: 1.316em;
  animation-delay: -0.3s;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  left: 1.316em;
  top: 0;
  animation: fill 0.9s ease-in infinite alternate;
}

.loader::after {
  left: auto;
  right: 1.316em;
  animation-delay: -0.6s;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 0 0.092em inset
  }

  100% {
    box-shadow: 0 0 0 0.294em inset
  }
}</style>