@font-face {
  font-family: "geomanistregular";
  src: url("/fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.eot");
  src: url("/fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff2")
      format("woff2"),
    url("/fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff")
      format("woff"),
    url("/fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.ttf")
      format("truetype"),
    url("/fonts/Geomanist-Regular-Webfont/geomanist-regular-webfont.svg#geomanistregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "geomanistultra";
  src: url("/fonts/Geomanist-Ultra-Webfont/geomanist-ultra-webfont.eot");
  src: url("/fonts/Geomanist-Ultra-Webfont/geomanist-ultra-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Geomanist-Ultra-Webfont/geomanist-ultra-webfont.woff2")
      format("woff2"),
    url("/fonts/Geomanist-Ultra-Webfont/geomanist-ultra-webfont.woff")
      format("woff"),
    url("/fonts/Geomanist-Ultra-Webfont/geomanist-ultra-webfont.ttf")
      format("truetype"),
    url("/fonts/Geomanist-Ultra-Webfont/geomanist-ultra-webfont.svg#geomanistregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "geomanistextralight";
  src: url("/fonts/Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.eot");
  src: url("/fonts/Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.woff2")
      format("woff2"),
    url("/fonts/Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.woff")
      format("woff"),
    url("/fonts/Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.ttf")
      format("truetype"),
    url("/fonts/Geomanist-ExtraLight-Webfont/geomanist-extralight-webfont.svg#geomanistregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
