<template>
    <article class="relative flex min-xl:flex-row max-lg:flex-col justify-stretch min-h-screen">
        <UContainer
            class="relative lg:sticky w-full mt-16 top-0 left-0 bottom-0  max-h-screen flex items-center justify-center flex-1 flex-grow-1 flex-shrink-1">
            <HeroComponent />
        </UContainer>
        <UDivider color="gray" orientation="vertical" class="w-1" />
        <UContainer
            class="relative lg:min-h-screen lg:max-h-screen overflow-scroll flex:0 lg:flex-1 gap-4 flex-grow-1 flex-shrink-0 flex flex-col-reverse">
            <ChatComponent />
        </UContainer>
    </article>
</template>